div.container{
display: flex;
align-items: center;
}


#img1{
width:300px;
height:240px;
}

#img{
width:300px;
height:240px;
}

header.parent {
height: 100px;
background-color:lightslategray;
color: whitesmoke;
width:100%;
}

TABLE{
padding-left: 15px;
padding-bottom: 15px;
}

nav.gg{
display:block;
align-items:center;
}

div.log{
display:block;
align-items:center;
}

#log {
width: 100px;
height: 100px;
float: left;
}

div.child{
color: MintCream;
font-size: 150%;
}

div.container{
flex-direction:column;
}

div.hh{
color:lightslategray;
font-size: 125%;
width: 100%;
align-items: center;
}

.nav {
max-width: 960px;
margin:auto;
}
div a{
text-decoration: none;
}
.nav div {
display: inline-block;
}
.button{
background-color: whitesmoke;
border-radius: 3px;
border: 1px;
font-family: Arial;
font-size: 20px;
width: 250px;
text-align: center ;
margin-bottom: 4px;
padding: 10px;
}

@media screen and (min-width:850px)
{
.nav {
max-width: 960px;
margin:auto;
}
.nav div {
display: inline-block;
}
div a{
text-decoration: none;
}
.button{
background-color:whitesmoke;
border-radius: 3px;
border: 1px;
font-family: Arial;
font-size: 20px;
width: 200px;
text-align: center ;
margin-bottom:4px;
padding: 10px;
}
div a{
text-decoration: none;
}

div.container{
flex-direction: column-reverse;
align-items: center;
}


#img1{
width:700px;
height:600px;
}

div.hh{
color: lightslategray;
font-size: 125%;
width: 70%;
align-items: center;
}

header.parent{
width:100%;
background-color:lightslategray;
padding: 10px;
height:190px;
}

div.child{
color: MintCream;
font-size: 200%;
margin-top: 10px;
}

#log{
float:left;
margin-left:155px;
width:170px;
height:170px;
margin-right: 10px;
margin-top: 10px;
}

div.log{
display:flex;
justify-content:space-around;
align-items:center;
flex-wrap:wrap;
}
}

tr.even {
background: RosyBrown;
}

footer.k{
background-color:lightslategray;

height:30px;
border: 10px;
}

TABLE {
border: 1px solid black;
width: 100%;


}
td,tr,th {
border: 1px solid black;
}
